<!DOCTYPE html>
<html>

<head>
<style>
body {
    background: url('/images/bowling.gif');
    background-size: 75%;
}
h2 {
    color: white;
    text-align: center;
    font-size: 50px
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
}
th, td {
    padding: 20px;
    text-align: center;    
}
</style>
</head>

<body>

<h2>Bowling Score Card</h2>
<table style="width:100%">
  <tr>
    <th>Name:</th>
    <td colspan="10">Score:</td>
  </tr>
  <tr>
    <th rowspan="2">Player 1</th>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
  </tr>
  <tr>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
    <td><input type="text" name="score" style="width:8px"></td>
  </tr>
  <tr>
    <th>Total</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</table>

</body>
</html>